.container {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
}



.container h2 {
  background: red;
  color: rgb(5, 3, 3);
  width: 200px;
  font-size: 24px;
  padding: 5px;
  height: 40px;
}

.container h2 ::after {
  content: '';
  border-top: 40px solid red;
  border-right: 40px solid transparent;
  position: relative;
  left: 48px;
  top: 34px;
}

.row {
  margin-top: 30px;
  margin-left: 20%;
}
  


img {
  width: 100%;
}

.product-bottom .bi {
  color: yellow
  /*Add Sizing for stars */
}

.product-bottom h3 {
  font-size: 20px;
  font-weight: bold;
}

.gallery {
     /* margin-top: -221px; */
     margin-left: 1%;
     color: white;
     background-color: black;
     border-radius: 10px;
     margin-right: 89%;
 }
  


h1 {

  display: flex;
  justify-content: center;


}

a {

  color: black;
  text-decoration: none;
  background-color: transparent;
  justify-content: center;
  
  display: flex;


}

p {

  color: red;
}



body {
  background-image: url("./COVID-19_header.png");
  background-repeat: no-repeat;
  background-size: cover;
 
  
}

.form-control {
  display: block;
  width: 259px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form {

    content: '';
    height: 100%;
    left: 0;
   padding:20px;
    top: 0;
    width: 100%;
   
    z-index: -1;
    border-radius: 6px;
    

}





