<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/develop/public/assets/styles.css">
    <title>COVID-19 PPE Charity Store</title>
    
</head>
<body>
  <header>
    <h1>COVID-19 PPE Charity Store</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>COVID-19 Data:</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if loggedIn}}
  <script src="/develop/public/js/logout.js"></script>
  {{/if}}
</body>
</html>